{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django words</title>
    <meta name="author" content="Diego Navarro Mellen">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block extra_header %}{% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                    {% if message_level %}
                            <div class="alert alert-{{ message_level|default:"success" }} fade in">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                {{ message_info|safe }}
                                {% if message_link and message_link_text %}
                                    <a href="{{ message_link }}">{{ message_link_text }}</a>
                                {% endif %}
                            </div>
                    {% elif messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags|default:"success" }} fade in">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h1>
                        {% block section_title %}{% endblock %} 
                        (<a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span>Logout</a>)
                    </h1>
                    <hr>
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>