{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_title %}login{% endblock %}

{% block extra_header %}
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
	<div class="container">
	    <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% if form.errors %}
				<p>{% trans "Your username and password didn't match. Please try again." %}</p>
			{% endif %}

		    <h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
		    {% csrf_token %}
		    <input id="id_username" name="username" class="form-control" placeholder="{% trans 'Username' %}" required="" autofocus="" type="text">
		    <input id="id_password" name="password" class="form-control" placeholder="{% trans 'Password' %}" required="" type="password">
		    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
	    	<input type="hidden" name="next" value="{{ next }}" />
	    </form>
    </div>
{% endblock %}
