{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_title %}logout{% endblock %}

{% block extra_header %}
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="form-signin-heading">{% trans "Thank you, come back soon" %}</h2>
		<a href="{% url 'login' %}" class="btn btn-success">{% trans "Sign in" %}</a>
    </div>
{% endblock %}
