{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block section_title %}
Update word skills for {{ user.username }}
{% endblock %}

{% block content %}

	<form action="." method="POST" class="form-horizontal">
	{{ formset.management_form|crispy }}
	{% for form in formset %}
	    {% crispy form %}
	{% endfor %}
	<div class="form-actions">
	    <input type="submit" name="submit" value="Update" class="btn btn-primary" id="submit-save">
	</div>
	</form>

{% endblock %}
